* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background: url(./wall.jpg) no-repeat center center;
}
kbd {
  width: 2em;
  height: 2em;
  border-radius: 8px;
  padding: 0 12px;
  margin: 0 12px 12px 0;
  border: 1px solid #373737;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  color: #C5C5C5;
  font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
  font-size: 24px;
  background: linear-gradient(to bottom, #292929 0%,#111111 100%); 
  box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
}
kbd .word {
  position: absolute;
  left: 4px; 
  top: 2px; 
}
kbd > button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  color: #C5C5C5;
  font-family: kai;
  padding: 1px;
  background: black;
  border-radius: 4px;
}
kbd:hover > button {
  display: inline-block;
}
main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#keyboard {
  display: inline-block;
}
#keyboard > div:nth-child(2) {
  margin-left: 1em;
}
#keyboard > div:nth-child(3) {
  margin-left: 3em;
}
kbd img {
  width: 16px;
  height: 15px;
  position: absolute;
  left: 5px; 
  bottom: 3px;
}